ArchivesSnake==0.10.1
attrs==24.3.0
berkeleydb==18.1.8
boltons==24.1.0
certifi==2025.10.5
charset-normalizer==3.3.2
docutils==0.20.1
html5lib-modern==1.2
idna==3.11
isodate==0.6.1
kafka-python==2.2.15
lxml==4.9.4
more-itertools==10.5.0
pyoai==2.5.0
pyparsing==3.1.1
python-dotenv==1.0.1
PyYAML==6.0.2
RapidFuzz==3.11.0
rdflib==7.5.0
requests==2.32.5
ruff==0.7.1
setuptools==70.2.0
six==1.16.0
sseclient==0.0.27
structlog==24.4.0
urllib3==2.5.0
xmltodict==0.14.2
